/* add all items from grading group 3 and 4. Search for items in group 5 that refer to css f.e. z index */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
img{
  max-width: 100%;
  height: auto;
}
p, li{
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1.6em;
  text-indent: 0.1em;
  word-spacing: 5px;/*There is a 5-pixel space between each word.*/
  font-family: 'Roboto', sans-serif;
}
p::first-letter {
  font-size: 2rem;
  font-weight: bold;
}
#pages > p{
  text-transform: uppercase;
  text-align: center;
}
#header{
  display: flex;
  justify-content: flex-start;
  position: sticky;
  background-color:#49BEAA;
  border-radius: 50px;
  padding: 1rem;
  top: 0;
}
#header img{
  position: relative;
  float: left;
  width: auto;
  height: 50px;
}
#header li{
  float: left;
  list-style-type: none;
  margin-right: 5rem;
}
#header ul {
  list-style: none;
}
#header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding: 1rem;
}
#intro img{
  position: static;
}
h1{
  text-transform: uppercase;
}
a:visited {
  color: rgb(162, 9, 162);
}
a:hover {
  color: rgb(224, 100, 51);
}
#pages ul li img {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
}
#pages ul li header {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
}
#pages ul li {
  background:  #49BEAA;
  border-radius: 1.5rem ;
  border-color: #0d0e0e;
  border-style:dotted;
  border-width: 0.5rem;
  padding: 2rem;
  max-width: 220px;
  text-align: center;
  list-style-type: none;
}
table tr:nth-child(even) {
  background-color: #cff; 
}
table tr:nth-child(odd) {
  background-color: #FFF; 
}
footer{
  display: flex;
  justify-content:space-around;
  border-top: 1px solid #ccc;
  margin: 2rem;
  padding: 1rem;
}
