/* add all items from grading group 3 and 4. Search for items in group 5 that refer to css f.e. z index */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@media screen and (max-width: 768px) {
  body {
    background-color: #F4EDE4 ;
  }
  form {
    width: 100%;
    display: flex;
    justify-content: center;
  }

}
@media screen and (min-width: 769px){
  body{
    padding: 1rem;
  }
}
body {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  line-height: 1.6;
  letter-spacing: 1px;
  word-spacing: 3px;
}
img{
  max-width: 100%;
  height: auto;
}
main p, main li{
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1.6em;
  text-indent: 0.1em;
  word-spacing: 5px;/*There is a 5-pixel space between each word.*/
  font-family: 'Roboto', sans-serif;
}
p::first-letter {
  font-size: 2rem;
  font-weight: bold;
}
#pages > p{
  text-transform: uppercase;
  text-align: center;
}
#header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  background-color:#49BEAA;
  border-radius: 50px;
  padding: 1rem;
  top: 0;
}
#header img{
  position: relative;
  float: left;
  width: auto;
  height: 50px;
}
#header nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
#header li{
  float: left;
  list-style-type: none;
  margin-right: 5rem;
}
#header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding: 1rem;
}
#intro img{
  position: static;
}
h1{
  text-transform: uppercase;
  text-align: center
}
#header nav ul li a:visited {
  color: #F4EDE4;
}
#header nav ul li a:hover {
  color: #FF8C3F;
}
#pages ul{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
#pages ul li img {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
}
#pages ul li header {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
}
#pages ul li {
  background:  #49BEAA;
  border-radius: 1.5rem ;
  border-color: #0d0e0e;
  border-style:dotted;
  border-width: 0.5rem;
  padding: 2rem;
  max-width: 220px;
  text-align: center;
  list-style-type: none;
}
table tr:nth-child(even) {
  background-color: #cff; 
}
table tr:nth-child(odd) {
  background-color: #FFF; 
}
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  border-top: 1px solid #ccc;
  margin: 2rem;
  padding: 1rem;
}
#cookie_message{
  background-color: #49BEAA;
  border-radius: 50px;
  text-align: center;
  position: relative;
  z-index: 9999;
}
#cookie_message p{
  font-size: 1rem;
  color: #fff;
}
fieldset{
  display:flex;
  flex-direction: column;
  width: 600px;
  gap:1.5rem;
  border: 2px dotted #49BEAA;
  border-radius: 1rem;
  background-color: #f9f9f9;
  padding: 2rem;
}