/* add all items from grading group 3 and 4. Search for items in group 5 that refer to css f.e. z index */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    align-items: center;
}
img{
    max-width: 100%;
    height: auto;
}
p, li{
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1.6em;
  text-indent: 0.1em;
  word-spacing: 5px;/*There is a 5-pixel space between each word.*/
  font-family: 'Roboto', sans-serif;
}
#header li{
  align-items: center;
  margin: 1rem;
  width: 250px;
  background-color: #49BEAA;
}
h1{
  text-transform: uppercase;
}
a:visited {
  color: rgb(162, 9, 162);
}
a:hover {
  color: rgb(224, 100, 51);
}
#pages ul li img {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
}

#pages ul li header {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
}
#pages ul li {
  background:  #49BEAA;
  border-radius: 1.5rem ;
  border-color: #0d0e0e;
  border-style:dotted;
  border-width: 0.5rem;
  padding: 2rem;
  max-width: 220px;
  text-align: center;
}